
/* Regole generali */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

ul,li,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

:root{
    --darkblue: #141922
    --grey: #282828
    --gree: #ADFF2F
    --lightgrey: #A3A3A3
    --lightwhite: #A3A3A3
}

/* ROW e CONTAINER generali */

.row{
    display: flex;
}

/* Regole per viewport e layout*/

.container-viewport{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.viewport-main{
    flex-grow: 1;
    display: flex;
}

.viewport-aside{
    height: auto;
    flex-shrink: 0;
    background-color: #282828;
}

.menu{
    width: 200px;
    flex-shrink: 0;
}

.page{
    flex-grow: 1;
}

/* MEDIA QUERY LAYOUT */

@media screen and (max-width: 551px){
    .menu{
        width: 80px;
        flex-shrink: 0;
    }
}

/* Player */

.viewport-aside .row{
    justify-content: space-between;
    align-items: center;
}

.col_player{
    flex-basis: calc(100%/6);
    color: #737373;
}

.side_player_left div:first-child{
    display: flex;
}

.side_player{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}

.side_player_icon{
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    padding: 20px 10px;
}

.player_thumb{
    width: 30%;
}

.button_player{
    font-size: 2vw;
    color: white;
}

.viewport-main{
    background-color: yellow;
}

.menu{
    background-color: black;
}

.page{
    background-color: green;
}
